.App {
    text-align: center;
    background: #D9D9D9;

}
.homepage {
    background: #ff0000;
    text-align: left;
    font-family: Nunito;
    font-weight: bold;
    padding-bottom: 600px;
    
}
    .homepage Button {
        position: absolute;
        top: 50%;
        left: 50%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        justify-content: center;
        align-items: center;
        display: flex;
    }

body {
    background: #D9D9D9;
}


.App-link {
    color: #61dafb;
}





